name: Train Model

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  train:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Dagger CLI
        run: |
          curl -fsSL https://dl.dagger.io/dagger/install.sh | sh
          sudo mv bin/dagger /usr/local/bin/

      - name: Run Dagger pipeline
        run: |
          cp -r .dvc ./ccds/.dvc
          dagger call train --source=./ccds --github-token=env:DVC_GITHUB_TOKEN --output=./model.pkl
        env:
          DVC_GITHUB_TOKEN: ${{ secrets.DVC_GITHUB_TOKEN }}

      - name: Upload model artifact
        uses: actions/upload-artifact@v4
        with:
            name: model
            path: ./model.pkl

  validate:
    runs-on: ubuntu-latest
    needs: train
    steps:
      - name: Download model artifact
        uses: actions/download-artifact@v4
        with:
          name: model

      - name: Validate model
        uses: lasselundstenjensen/itu-sdse-project-model-validator@main